/* display */
.m-dn{display: none;}
.m-db{display: block;}
.m-di{display: inline;}
.m-dib{display: inline-block;}
/* height */
.m-h0{height: 0;}
.m-h14{height: 14px;}
.m-h16{height: 16px;}
.m-h18{height: 18px;}
.m-h20{height: 20px;}
.m-h22{height: 22px;}
.m-h24{height: 24px;}
.m-h30{height: 30px;}
.m-h60{height: 60px;}
/* width */
.m-wa{width: auto;}
.m-w20{width: 20px;}
.m-w30{width: 30px;}
.m-w40{width: 40px;}
.m-w50{width: 50px;}
.m-w60{width: 60px;}
.m-w70{width: 70px;}
.m-w80{width: 80px;}
.m-w90{width: 90px;}
.m-w100{width: 100px;}
.m-w120{width: 120px;}
.m-w140{width: 140px;}
.m-w160{width: 160px;}
.m-w180{width: 180px;}
.m-w200{width: 200px;}
.m-w220{width: 220px;}
.m-w240{width: 240px;}
.m-w250{width: 250px;}
.m-w260{width: 260px;}
.m-w280{width: 280px;}
.m-w300{width: 300px;}
.m-w320{width: 320px;}
.m-w360{width: 360px;}
.m-w400{width: 400px;}
.m-w460{width: 460px;}
.m-w500{width: 500px;}
.m-w600{width: 600px;}
.m-w640{width: 640px;}
.m-w700{width: 700px;}
.m-w1024{width: 1024px;}
.m-w1200{width: 1200px;}
/* percent width */
.m-pct10{width:10%;}
.m-pct15{width:15%;}
.m-pct20{width:20%;}
.m-pct25{width:25%;}
.m-pct30{width:30%;}
.m-pct33{width:33.3%;}
.m-pct40{width:40%;}
.m-pct50{width:50%;}
.m-pct60{width:60%;}
.m-pct66{width:66.6%;}
.m-pct70{width:70%;}
.m-pct75{width:75%;}
.m-pct80{width:80%;}
.m-pct90{width:90%;}
.m-pct100{width:100%;}
/* line-height */
.m-lh0{line-height: 0;}
.m-lh14{line-height: 14px;}
.m-lh16{line-height: 16px;}
.m-lh18{line-height: 18px;}
.m-lh20{line-height: 20px;}
.m-lh22{line-height: 22px;}
.m-lh24{line-height: 24px;}
.m-lh30{line-height: 30px;}
.m-lh60{line-height: 60px;}
/* margin */
.m-m0{margin: 0;}
.m-m1{margin: 1px;}
.m-mt1{margin-top: 1px;}
.m-mb1{margin-bottom: 1px;}
.m-ml1{margin-left: 1px;}
.m-mr1{margin-right: 1px;}
.m-m2{margin: 2px;}
.m-mt2{margin-top: 2px;}
.m-mb2{margin-bottom: 2px;}
.m-ml2{margin-left: 2px;}
.m-mr2{margin-right: 2px;}
.m-m5{margin: 5px;}
.m-mt5{margin-top: 5px;}
.m-mb5{margin-bottom: 5px;}
.m-ml5{margin-left: 5px;}
.m-mr5{margin-right: 5px;}
.m-m10{margin: 10px;}
.m-mt10{margin-top: 10px;}
.m-mb10{margin-bottom: 10px;}
.m-ml10{margin-left: 10px;}
.m-mr10{margin-right: 10px;}
.m-m15{margin: 15px;}
.m-mt15{margin-top: 15px;}
.m-mb15{margin-bottom: 15px;}
.m-ml15{margin-left: 15px;}
.m-mr15{margin-right: 15px;}
.m-m20{margin: 20px;}
.m-mt20{margin-top: 20px;}
.m-mb20{margin-bottom: 20px;}
.m-ml20{margin-left: 20px;}
.m-mr20{margin-right: 20px;}
.m-m30{margin: 30px;}
.m-mt30{margin-top: 30px;}
.m-mb30{margin-bottom: 30px;}
.m-ml30{margin-left: 30px;}
.m-mr30{margin-right: 30px;}
.m-m60{margin: 60px;}
.m-mt60{margin-top: 60px;}
.m-mb60{margin-bottom: 60px;}
.m-ml60{margin-left: 60px;}
.m-mr60{margin-right: 60px;}
/* margin negative */
.m-ml-1{margin-left:-1px;}
.m-mr-1{margin-right:-1px;}
.m-mt-1{margin-top:-1px;}
.m-mb-1{margin-bottom:-1px;}
.m-ml-3{margin-left:-3px;}
.m-mr-3{margin-right:-3px;}
.m-mt-3{margin-top:-3px;}
.m-mb-3{margin-bottom:-3px;}
.m-ml-20{margin-left:-20px;}
.m-mr-20{margin-right:-20px;}
.m-mt-20{margin-top:-20px;}
.m-mb-20{margin-bottom:-20px;}
/* padding */
.m-p0{padding:0;}
.m-pl0{padding-left:0;}
.m-pt0{padding-top:0;}
.m-pr0{padding-right:0;}
.m-pb0{padding-bottom:0;}
.m-p1{padding:1px;}
.m-pl1{padding-left:1px;}
.m-pt1{padding-top:1px;}
.m-pr1{padding-right:1px;}
.m-pb1{padding-bottom:1px;}
.m-p2{padding:2px;}
.m-pl2{padding-left:2px;}
.m-pt2{padding-top:2px;}
.m-pr2{padding-right:2px;}
.m-pb2{padding-bottom:2px;}
.m-pl5{padding-left:5px;}
.m-p5{padding:5px;}
.m-pt5{padding-top:5px;}
.m-pr5{padding-right:5px;}
.m-pb5{padding-bottom:5px;}
.m-p10{padding:10px;}
.m-pl10{padding-left:10px;}
.m-pt10{padding-top:10px;}
.m-pr10{padding-right:10px;}
.m-pb10{padding-bottom:10px;}
.m-p15{padding:15px;}
.m-pl15{padding-left:15px;}
.m-pt15{padding-top:15px;}
.m-pr15{padding-right:15px;}
.m-pb15{padding-bottom:15px;}
.m-p20{padding:20px;}
.m-pl20{padding-left:20px;}
.m-pt20{padding-top:20px;}
.m-pr20{padding-right:20px;}
.m-pb20{padding-bottom:20px;}
.m-p30{padding:30px;}
.m-pl30{padding-left:30px;}
.m-pt30{padding-top:30px;}
.m-pr30{padding-right:30px;}
.m-pb30{padding-bottom:30px;}
.m-p60{padding:60px;}
.m-pl60{padding-left:60px;}
.m-pt60{padding-top:60px;}
.m-pr60{padding-right:60px;}
.m-pb60{padding-bottom:60px;}
/* border + color */
.m-bdc{border:1px solid #ccc;}
.m-blc{border-left:1px solid #ccc;}
.m-brc{border-right:1px solid #ccc;}
.m-btc{border-top:1px solid #ccc;}
.m-bbc{border-bottom:1px solid #ccc;}
.m-bdd{border:1px solid #ddd;}
.m-bld{border-left:1px solid #ddd;}
.m-brd{border-right:1px solid #ddd;}
.m-btd{border-top:1px solid #ddd;}
.m-bbd{border-bottom:1px solid #ddd;}
.m-bde{border:1px solid #eee;}
.m-ble{border-left:1px solid #eee;}
.m-bre{border-right:1px solid #eee;}
.m-bte{border-top:1px solid #eee;}
.m-bbe{border-bottom:1px solid #eee;}
/* background-color */
.m-bgwh{background-color:#fff;}
.m-bgfb{background-color:#fbfbfb;}
.m-bgf5{background-color:#f5f5f5;}
.m-bgf0{background-color:#f0f0f0;}
.m-bgeb{background-color:#ebebeb;}
.m-bge5{background-color:#e5e5e5;}
.m-bge0{background-color:#e0e0e0;}
/* font color */
.m-g0{color:#000;}
.m-g3{color:#333;}
.m-g6{color:#666;}
.m-g9{color:#999;}
.m-gc{color:#ccc;}
.m-wh{color:white;}
/* font size */
.m-f0{font-size:0;}
.m-f12{font-size:12px;}
.m-f13{font-size:13px;}
.m-f14{font-size:14px;}
.m-f16{font-size:16px;}
.m-f18{font-size:18px;}
.m-f20{font-size:20px;}
.m-f22{font-size:22px;}
.m-f24{font-size:24px;}
.m-f26{font-size:26px;}
.m-f28{font-size:28px;}
/* font-family */
.m-fa{font-family:Arial;}
.m-ft{font-family:Tahoma;}
.m-fv{font-family:Verdana;}
.m-fs{font-family:Simsun;}
.m-fl{font-family:'Lucida Console';}
.m-fw{font-family:'Microsoft Yahei';}
/* font-style */
.m-fsn{font-weight:normal; font-style:normal; white-space: normal;}
.m-fsb{font-weight:bold;}
.m-fsi{font-style:italic;}
/* text-align */
.m-tc{text-align:center;}
.m-tr{text-align:right;}
.m-tl{text-align:left;}
.m-tj{text-align:justify;}
/* text-decoration */
.m-tdl{text-decoration:underline;}
.m-tdn{text-decoration:none;}
/* vertical-align */
.m-vm{vertical-align:middle;}
.m-vtb{vertical-align:text-bottom;}
.m-vb{vertical-align:bottom;}
.m-vt{vertical-align:top;}
.m-v-1{vertical-align:-1px;}
.m-v-2{vertical-align:-2px;}
.m-v-3{vertical-align:-3px;}
.m-v-4{vertical-align:-4px;}
.m-v-5{vertical-align:-5px;}
/* float */
.m-fl{float:left;}
.m-fr{float:right;}
.m-fc{clear:both;}
/* position */
.m-rel{position:relative;}
.m-abs{position:absolute;}
/*z-index*/
.m-zx1{z-index:1;}
.m-zx2{z-index:2;}
/* cursor */
.m-cpoi{cursor:pointer;}
.m-cdef{cursor:default;}
/* overflow */
.m-ovh{overflow:hidden;}
.m-ova{overflow:auto;}
.m-ovxh{overflow-x:hidden;}
.m-ovxa{overflow-x:auto;}
.m-ovyh{overflow-y:hidden;}
.m-ovya{overflow-y:auto;}
/* visibility */
.m-vh{visibility:hidden;}
.m-vv{visibility:visible;}
/* opacity */
.m-opa0{opacity:0; filter:alpha(opacity=0);}

/* flex布局 */
.m-df{display: flex;}
.m-fdc{flex-direction: column;}
.m-fdr{flex-direction: row;}
.m-fg1{flex-grow: 1;}

/* -------------function------------- */

/* 居中 */
.m-auto{margin-left: auto;margin-right: auto;}
/* 清除浮动 */
.m-fix{*zoom:1;}
.m-fix:after{display: table; content: ''; clear: both;}
/* 单行文字溢出虚点显 示*/
.m-ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* 按钮禁用 */
.m-disabled{outline:0 none; cursor:default!important; opacity:.4; filter:alpha(opacity=40); -ms-pointer-events:none; pointer-events:none;}


.loading{
    background: url(../../img/loading.gif);
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}
.loading-box{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 2px;
}